<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <% @users.each do |user| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title text-center">【<%= user.name %>】からの1ヶ月分勤怠申請</h3>
        </div>
        <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
          <thead>
            <tr>
              <th>月</th>
              <th>指示者確認㊞</th>
              <th>変更</th>
              <th>勤怠を確認する</th>
            </tr>
          </thead>
          <tbody>
            <% @approvals.each do |approval| %>
            <tr>
              <td><%= approval.month_at %></td>
              <td><%= select :confirm, Attendance.confirms.keys.to_a, include_blank: true %></td>
              <td><%= check_box_tag :approval_flag, {class: "approval_flag"} %></td>
              <td><%= link_to "確認", user_path(user.id), class: "btn btn-primary btn-md" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
