<% provide(:title, "ユーザ一覧") %>
<h1>ユーザ一覧</h1>
<div class="csv_holder">
  <%= form_tag import_users_path, multipart: true do %>
    <div><%= file_field_tag :file %></div>
    <div><%= submit_tag "CSVをインポート", class: "btn btn-block btn-primary" %></div>
  <% end %>
</div>
<div>
  <p>Example</p>
</div>
<% if current_user.admin? %>
  <div class="example">
    <% @users.each do |user| %>
    <div><%= user.name %></div>
    <div>
      <span>|</span><%= link_to "削除", "#", method: :delete, class: "btn btn-lg, btn-primary btn-delete" %>
    </div>
    <div class="edit-csv">
      <div><%= link_to "編集", "#", class: "btn btn-lg btn-primary w-10" %></div>
    </div>
    <% end %>
  </div>
<% end %>
