<% provide(:title, "ユーザ一覧") %>

<h1>ユーザ一覧</h1>
<div class="csv_holder">
  <%= form_tag import_users_path, multipart: true do %>
    <div><%= file_field_tag :file, class: "file-csv" %></div>
    <div><%= submit_tag "CSVをインポート", class: "btn btn-block btn-primary" %></div>
  <% end %>
</div>
<div>
  <p>Example</p>
</div>
<% if current_user.admin? %>
  <div class="example">
    <% @users.each do |user| %>
      <%= render partial: "shared/error_messages", collection: @user %>
      <div><%= user.name %></div>
      <div>
        <span>|</span>
        <% unless user.admin %>
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-primary" %>
        <% end %>
      </div>
      
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= user.id %>">
              <button class="btn btn-primary btn-lg w-10" type="button">編集</button></a>
            </h4>
          </div>
          <div id="collapse<%= user.id %>" class="panel-collapse collapse">
            <div class="panel-body"><%= render 'users/form_user', { user: user }  %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
