<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <% @users = User.all %>
    <% @users.each do |user| %>
        <% @notice_at_lists = Attendance.where.not(endtime_at: nil) %>
          <% @notice_at_lists.each do |at_user| %>
            <% @notice_name_lists = Attendance.where(name: at_user.name) %>
            <% @notice_name_lists.each do |n_user| %>
              <% @notice_user_lists = User.includes(:attendances).where(id: n_user.user_id) %>
              <% @notice_user_lists.each do |n_u|
                <h3 class="modal-title">【<%= n_u.name %>】からの残業申請</h3>
              <% end %>
            <% end %>
          <% end %>
        
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
           <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>指定勤務終了時間</th>
                <th>時間外時間</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
            </thead>
            
            <% @notice_attendances.each do |attendance| %>
              <tbody>
                <div>
                  <tr>
                    <%= form_with(model: @overtime, url: attendances_update_notice_overtime_user_path(attendance), local: true, method: :patch) do |f| %>
                      <td><%= l(attendance.worked_on, format: :short) %></td>
                      <td class = "<%= css_class(attendance.worked_on) %>"><%= $days_of_the_week[attendance.worked_on.wday] %></td>
                      <td>
                        <% if attendance.tommorow_index == true %>
                          <%= attendance.endtime_at.tomorrow.strftime("%H") if attendance.endtime_at.present? %>
                        <% else %>
                          <%= attendance.endtime_at.strftime("%H") if attendance.endtime_at.present? %>
                        <% end %>
                      </td>
                      <td><%= format_basic_info(@user.designated_work_end_time) %></td>
                      <td>
                        <% if attendance.endtime_at.present? && attendance.finished_at.present? %>
                          <%= format("%.2f", Time.at(work_end_time(attendance)).utc.strftime('%H')) %>
                        <% end %>
                      </td>
                      <td><%= attendance.try(:overtime_memo) %></td>
                      <td><%= "申請中：#{attendance.name}" if attendance.name.present? %></td>
                      <td></td>
                      <td></td>
                    <% end %>
                  </tr>
                </div>
              </tbody>
            <% end %>
           </table>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
