% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <%= form_with(model: @overtime, url: user_attendance_update_over_app_path(@user, l(@overtime.worked_on, format: :short)), local: true, method: :patch) do |f| %>
           <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>翌日</th>
                <th>業務処理内容</th>
                <th>支持者確認㊞</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= l(@overtime.worked_on, format: :short) %></td>
                <td class= "<%= css_class(@overtime.worked_on) %>"><%= $days_of_the_week[@overtime.worked_on.wday] %></td>
                <td><%= f.time_select :finished_at, {}, ignore_data:true, class: 'form-control bootstrap-date' %></td>
                <td><%= f.check_box :tommorow_index, {class: "tommorow_index"}, "true", "false" %></td>
                <td><%= f.text_field :overtime_memo, :size => "20", class: "form-control" %></td>
                <td><%= f.collection_select :name, User.where(superior: true), :name, :name, :prompt =>"上長を選択してください。" %></td>
              </tr>
            </tbody>
          </table>
          <div class="center">
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
